[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
isort = "*"
pytest-cov = "*"
codecov = "*"
pydocstyle = "*"
bandit = "*"
black = "*"
pre-commit = "*"
yamllint = "*"
pyinstaller = "*"
freezegun = "*"

[packages]
humanfriendly = "*"
python-dotenv = "*"
archivetar = {editable = true, path = "."}
natsort = "*"
globus-sdk = "*"
environs = "*"
